java_home: /usr/lib/java
# See Oracle Java SE checksums page here: https://www.oracle.com/webfolder/s/digest/8u181checksum.html
# Use /usr/local & /Library/Java/JavaVirtualMachines for MacOS: https://support.apple.com/en-ie/HT204899

java:
  ## override Formula default version ##
  release: '8'
  major: '0'
  minor: '181'
  build: ''    ##needed by oracle otn url (i.e. '-b13' for j8u181-b13 url)
  dirhash: ''  ##needed by oracle otn url (i.e. '96a7b8442fe848ef90c96a2fad6ed6d1' for j8u181-b13 url)

  ## tarball details
  prefix: /usr/share/java       # ``prefix/version_name`` contains unpacked tarball content
  version_name: jdk1.8.0_181    # JDK; value must match top-level directory inside the tarball
  #version_name: jre1.8.0_181   # JRE; value must match top-level directory inside the tarball

  ## JDK linux ##
  source_url: http://download.oracle.com/otn-pub/java/jdk/8u181-b13/96a7b8442fe848ef90c96a2fad6ed6d1/jdk-8u181-linux-x64.tar.gz       ## can be internal (non-oracle) url
  source_hash: sha256=80212f7748c2671b89b6085000717c747851db004409dce3bb97f3a2aeb91cdd

  ## and JCE ##
  jce_url: http://download.oracle.com/otn-pub/java/jce/8/jce_policy-8.zip
  jce_hash: sha256=80212f7748c2671b89b6085000717c747851db004409dce3bb97f3a2aeb91cdd

  ## Other overrides ##
  java_symlink: /usr/bin/java
  javac_symlink: /usr/bin/javac
  dl_opts: -b oraclelicense=accept-securebackup-cookie -L -s     ## needed by oracle otn url
  archive_type: tar

  ## Linux alternatives
  #alt_priority: 301800111         ## value must change for all subsequent formula run

